// File to CS
// Copyright (c) 2007-2023 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2007-2023 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/FileToCS/Library.rh>
#include <XYO/FileToCS/Copyright.rh>
#include <XYO/FileToCS/Version.rh>

XYO_APPLICATION_VERSION_INFO(XYO_FILETOCS,"xyo-file-to-cs.dll","FileToCS - Convert file to C/C++ source")
